<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 폼</title>
</head>
<body>
<form action="/api/v1/signIn" method="post">
    <div>
        <label for="userid">ID:</label>
        <input type="text" id="userid" name="userid" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>
</form>
</body>
</html>
